body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
footer{
    margin: 30px auto 0 auto;
    text-align: center;
    width: 800px;
    font-weight: 100;
}
main{
    display: flex;
    margin: 30px auto 0 auto;
    width: 800px;
}
form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    font-weight: 200;
    font-size: 18px;
}
p{
    font-weight: 200;
    font-size: 14px;
}
img{
    float: left;
    border: 1px solid #ced4da;
    padding: 0;
    border-radius: 5px 0 0 5px;
    width: 47px;
}
.gameinput{
    border-radius: 5px;
    width: 250px;
}
.containeritem{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 5px;
}
.item{
    border-radius: 45px;
    border: solid 10px #fff;
    width: 35px;
    height: 35px;
}
.red{
    background-color: #fd0c49;
    transition: background-color 0.3s;
}
.green{
    background-color: #7ac943;
    transition: background-color 0.3s;
}
#gamecontainer{
    width: 500px;
    margin-right: 10px;
}
#game{
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 500px;
    min-height: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0 0;
}
.gameovercolor{
    background-color: #263238;
    transition: background-color 0.4s;
}
#gameover{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0 0;
    width: 500px;
    height: 400px;
}
#gameover button{
    background-color: #fff;
    border: 1px solid #ced4da;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 200px;
}
#gametitle{
    width: 500px;
    background-color: #263238;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    margin-top: 400px;
}
#usercontainer{
    width: 290px;
}