body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
header, footer{
    text-align: center;
    width: 500px;
    margin: 30px auto 0px auto;
}
main{
    width: 500px;
    margin: 30px auto 0px auto;
}
#logo{
    width: 50px;
}